.burgerIngredient {
    height: 208px;
    width: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.name {
    composes: text text_type_main-small from global;
    text-align: center;
}

.price {
    composes: text text_type_digits-default mt-1 mb-1 from global;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
}