.appHeader{
    composes: p-4 from global;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.partInterface {
    composes: p-5 text text_type_main-default from global;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
}

.buttonsWrapper {
    display: flex;
    flex-direction: row;
    row-gap: 8px;
}

.buttonText {
    composes: ml-2 from global;
}

.inactiveButton {
    composes: text_color_inactive from global;
    composes: partInterface;
    display: flex;
    flex-direction: row;
}

.listButton {
    composes: text_color_inactive from global;
    composes: partInterface;
}
